<template>
  <div id="app">
  <queryalltuna/>  
  <queryspecifictuna/>
  <changetuna/>
  <edit/>
  </div>
</template>

<script>

import queryalltuna from './components/queryalltuna.vue'
import queryspecifictuna from './components/queryspecifictuna.vue'
import changetuna from './components/changetuna.vue'
import edit from './components/edit.vue'
export default {
  name: 'app',
  components: { 
    queryalltuna,
    queryspecifictuna,
    changetuna,
    edit
  }
}
</script>

<style>
h1 {
  font-size: 20px;
  color:ivory;
  text-align: center;

}

h2 {
  font-size: 20px;
  color:ivory;
  text-align: center;
}

h3 {
  font-size: 20px;
  color:ivory;
  text-align: center;
}


table {
  font-size: 15px;
  color:lightslategrey;
}

select{
  font-size: 15px;
  background-color: lightcyan;
}
body {
  background-color:black;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
  
p.a {
  font: 15px arial, sans-serif;
}

p.b {
  font: italic bold 12px/30px Georgia, serif;
}

</style>